<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="{{ url_for('static', filename='voice_recognition.js') }}"></script>
</head>

<body>
    <h1 id="message">ここはJavaScriptにより置き換えられます。</h1>
    <form>
        <tr>
            <button id="get_click" name="gs" value="no">GETクリック</button>
            <button id="post_click" name="ps" value="no">POSTクリック</button>
        </tr>
    </form>
    <a href="/">戻る</a>
</body>

</html>